<%= form_with(model: [@board, @list], local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true, placeholder: "List Title" %>
  </div>
  <div class="field">
    <%= f.label :priority %>
    <%= f.number_field :priority, required: true, placeholder: "Priority Number" %>
  </div>
  <%= f.submit class: "ui button"%>
<% end %>